# Node.js (React Native)
fe_app/node_modules/
fe_app/.expo/
fe_app/.vscode/

# Python (Django)
api/__pycache__/
api/db.sqlite3
api/.venv/
api/.migrations/

# General
.env
.DS_Store
.idea/
.vscode/

node_modules
package-lock.json
package.json
